<div>
    <mat-toolbar>Shopping Cart</mat-toolbar>
    <div style="margin-bottom: 15px">
        <mat-card *ngFor="let recipewithnumber of cart_data">
            {{recipewithnumber.Recipe.name}}
            <button class="round-button" (click)="change(recipewithnumber.Recipe,-1)">-</button>
            {{recipewithnumber.number}}
            <button class="round-button" (click)="change(recipewithnumber.Recipe,1)">+</button>
            <button class="round-button" (click)="change(recipewithnumber.Recipe,-recipewithnumber.number)">x</button>
            {{recipewithnumber.number * recipewithnumber.Recipe.price}}
        </mat-card>
    </div>

    <div *ngIf="empty">
        your cart is empty
    </div>
    <div *ngIf="!empty">
        Total price: {{total_price}}
    </div>
    <button style="margin-left: 15px" mat-raised-button color="primary" (click)="checkout()">Checkout</button>
    <button style="margin-left: 15px" mat-raised-button color="primary" (click)="clearCart()">Empty Cart</button>
</div>

<div *ngIf="checkingOut">

    <mat-form-field>
        <input matInput name="Address" [(ngModel)]="address" placeholder="address" required>
    </mat-form-field>

    <!--<div></div>-->
    <br>
    <mat-form-field>
        <input matInput name="Phone" [(ngModel)]="phone" placeholder="phone number" required>
    </mat-form-field>
    <br>
    <button style="margin-left: 15px" mat-raised-button color="primary" (click)="confirm()">Confirm</button>



</div>
