.checkout{
  margin-left: 120px;
  display: block;

}

.empty{
  margin-left: 100px;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: x-large;
}

.noempty{
  margin-bottom: 20px;
  margin-top:20px;
  font-size: x-large;
  font-style: italic;
}

.second{
  margin-left: 160px;
}

.shop{
  font-size: large;
}
