<div>
    <mat-card *ngFor="let restaurant of restaurants" [routerLink]="['/restaurants/',restaurant._id]">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{restaurant.pic}}" style="margin-top: 30px;margin-bottom: 30px ;margin-left: 60px" alt="loading failure" width="160" height="125" >

                </div>

                <div class="col-md-9">
                    <div class="restaurant-details">
                        <mat-card-content class="restaurant-name">{{restaurant.name}}</mat-card-content>
                        <mat-card-subtitle class="restaurant-type">{{restaurant.type}}</mat-card-subtitle>
                        <mat-card-content class="restaurant-address">{{restaurant.address}}</mat-card-content>
                    </div>
                </div>
            </div>
    </mat-card>
</div>

<!--<div class="container">-->
    <!--<div class="list-group">-->
        <!--<div class="list-group-item" *ngFor="let restaurant of restaurants"-->
             <!--[routerLink]="['/restaurants/',restaurant._id]">-->
            <!--&lt;!&ndash;<strong>id:{{restaurant._id}}, name:{{restaurant.name}}</strong>&ndash;&gt;-->

            <!--&lt;!&ndash;<h4 class="list-group-item-heading">{{restaurant.name}}</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="list-group-item-text">chef specials: </p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="list-group-item-text">Address: {{restaurant._id}}</p>&ndash;&gt;-->

            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                        <!--<img src="{{restaurant.pic}}" alt="loading failure" width="128" height="156" hspace="80px"-->
                             <!--vspace="20px">-->
                    <!--</div>-->

                    <!--<div class="col-md-9">-->
                        <!--&lt;!&ndash;<h4 class="list-group-item-heading">{{restaurant.name}}</h4>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="list-group-item-text">chef specials: </p>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="list-group-item-text">Address: {{restaurant._id}}</p>&ndash;&gt;-->
                        <!--<div>-->
                            <!--<mat-card-header>{{restaurant.name}}</mat-card-header>-->
                        <!--</div>-->

                        <!--<div>-->
                            <!--<mat-card-content>{{restaurant._id}}</mat-card-content>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



